@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: letraproductora;
  src: url(../letraprodu.TTF);
}
body {
  background-color: black;
  font-family: letraproductora;
  color: white;
}

.nav-link {
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-spacing: -7px;
}

.active {
  background-color: white;
  color: black;
}

.footer {
  margin: 30px;
  text-align: center;
  font-size: 10px;
}

.socials_link {
  margin: 20px;
}

.header_title {
  font-family: letraproductora;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 25px;
  grid-area: title;
  margin-bottom: 30px;
  margin-top: 30px;
}

#grid-container {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  height: 100vh;
  grid-template-areas: "title" "header" "main" "footer";
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-area: header;
}

.main {
  grid-area: main;
}

.main_content {
  flex: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main_description {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 13px;
  font-family: arial, helvetica, sans-serif;
}

.main_img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.objetivos {
  font-size: 20px;
  text-align: center;
  font-family: letraproductora;
  padding-top: 25px;
  padding-bottom: 15px;
}

.footer {
  grid-area: footer;
}

.main_title_sn {
  font-size: 20px;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  animation: aparecer;
  animation-duration: 3s;
  animation-timing-function: infinite;
}

.main_description_qs {
  display: flex;
  font-size: 12px;
  text-align: center;
  padding: 3rem 2rem 3rem 2rem;
  font-family: arial, helvetica, sans-serif;
}

.main_qs_img {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.main_qs_img img {
  padding: 2rem 2rem 2rem 2rem;
}

.main_qs_lema {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.main_title_staff {
  font-size: 20px;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.main_staff_integrante {
  font-size: 15px;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.main_staff {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.main_staff_img {
  padding: 10px 10px 10px 10px;
}

.main_staff_description {
  font-size: 13px;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  padding: 50px;
}

.main_title_p {
  font-size: 20px;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  animation: aparecer;
  animation-duration: 3s;
  animation-timing-function: infinite;
}

.main_p_img {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.main_p_img img {
  padding: 2rem 2rem 2rem 2rem;
}

.main_title_ld {
  font-size: 18px;
  text-align: center;
  grid-area: title;
  padding-top: 1rem;
}

.main_img_ldi {
  grid-area: imgizq;
}

.main_img_ldd {
  grid-area: imgder;
}

.main_description_ld {
  grid-area: description;
  text-align: center;
  font-size: 13px;
  font-family: arial, helvetica, sans-serif;
}

.main_img_ldm {
  grid-area: imgmedio;
  justify-self: center;
}

.grid-container-ld {
  display: grid;
  padding: 2rem;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 70px auto 1fr;
  max-width: 100%;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-areas: "imgizq title imgder" "imgizq description imgder" "imgizq imgmedio imgder";
}

.main_title_mama {
  font-size: 18px;
  text-align: center;
  grid-area: title;
  padding-top: 1rem;
}

.main_img_mamaizq {
  grid-area: imgizq;
}

.main_img_mamader {
  grid-area: imgder;
}

.main_description_mama {
  grid-area: description;
  text-align: center;
  font-size: 13px;
  font-family: arial, helvetica, sans-serif;
}

.main_img_mamamed {
  grid-area: imgmedio;
  justify-self: center;
}

.grid-container-mama {
  display: grid;
  padding: 2rem;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 70px auto 1fr;
  max-width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: "imgizq title imgder" "imgizq description imgder" "imgizq imgmedio imgder";
}

.main_title_gin {
  font-size: 18px;
  text-align: center;
  grid-area: title;
  padding-top: 1rem;
}

.main_img_ginizq {
  grid-area: imgizq;
}

.main_img_ginder {
  grid-area: imgder;
}

.main_description_gin {
  grid-area: description;
  text-align: center;
  font-size: 13px;
  font-family: arial, helvetica, sans-serif;
}

.main_img_ginmed {
  grid-area: imgmedio;
  justify-self: center;
}

.grid-container-gin {
  display: grid;
  padding: 2rem;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 70px auto 1fr;
  max-width: 100%;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-areas: "imgizq title imgder" "imgizq description imgder" "imgizq imgmedio imgder";
}

.main_title_bt {
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
}

.main_description_bt {
  text-align: center;
  font-size: 13px;
  padding: 2rem 5rem 2rem 5rem;
  font-family: arial, helvetica, sans-serif;
}

.bt_prox {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.main_title_nmd {
  font-size: 18px;
  text-align: center;
  padding-top: 5rem;
}

.main_description_nmd {
  text-align: center;
  font-size: 13px;
  padding: 2rem 5rem 2rem 5rem;
  font-family: arial, helvetica, sans-serif;
}

.nmd_prox {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 50px;
}

.main_title_cart {
  font-size: 20px;
  text-align: center;
  grid-area: title;
  align-self: center;
  animation: aparecer;
  animation-duration: 3s;
  animation-timing-function: infinite;
}

.main_subtitle_cart1 {
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: subtitle-marzo;
  align-self: center;
}

.main_subtitle_cart2 {
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: subtitle-prox;
  align-self: center;
}

.main_img_mama {
  grid-area: imgmama;
  justify-self: center;
  align-self: center;
}

.main_img_nmd {
  grid-area: imgnmd;
  justify-self: center;
  align-self: center;
}

.main_img_bt {
  grid-area: imgbt;
  justify-self: center;
  align-self: center;
}

.footer {
  grid-area: footer;
}

.grid-container-cart {
  display: grid;
  padding: 50px 60px 50px 60px;
  grid-template-columns: auto;
  grid-template-rows: 8% 8% auto 8% auto auto 13%;
  max-width: 100%;
  row-gap: 20px;
  grid-template-areas: "title" "subtitle-marzo" "imgmama" "subtitle-prox" "imgnmd" "imgbt" "footer";
}

.title-cont {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  animation: aparecer;
  animation-duration: 3s;
  animation-timing-function: infinite;
}

.flex-container-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  padding: 1rem;
}

.subtitle {
  font-size: 15px;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form legend {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.form label {
  font-size: 15px;
  margin-left: 10px;
  font-family: arial, helvetica, sans-serif;
}

fieldset input {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

.form input {
  width: 90%;
  height: 20px;
  margin-left: 1rem;
  margin-bottom: 10px;
}

.form textarea {
  height: 60px;
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
  .main {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .grid-container-ld {
    display: grid;
    padding: 2rem;
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    max-width: 100%;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-areas: "title" "description";
  }
  .main_img_ldm {
    display: none;
  }
  .main_img_ldi {
    display: none;
  }
  .main_img_ldd {
    display: none;
  }
  .grid-container-mama {
    display: grid;
    padding: 2rem;
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    max-width: 100%;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-areas: "title" "description";
  }
  .main_img_mamamed {
    display: none;
  }
  .main_img_mamaizq {
    display: none;
  }
  .main_img_mamader {
    display: none;
  }
  .grid-container-gin {
    display: grid;
    padding: 2rem;
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    max-width: 100%;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-areas: "title" "description";
  }
  .main_img_ginmed {
    display: none;
  }
  .main_img_ginizq {
    display: none;
  }
  .main_img_ginder {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
