.main_title_cart {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  grid-area: title;
  align-self: center;
  animation: aparecer;
  animation-duration: 3s;
  animation-timing-function: infinite;
}

.main_subtitle_cart1 {
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: subtitle-marzo;
  align-self: center;
}
.main_subtitle_cart2 {
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: subtitle-prox;
  align-self: center;
}

.main_img_mama {
  grid-area: imgmama;
  justify-self: center;
  align-self: center;
  width: 30%;
}

.main_img_nmd {
  grid-area: imgnmd;
  justify-self: center;
  align-self: center;
  width: 30%;
}
.main_img_bt {
  grid-area: imgbt;
  justify-self: center;
  align-self: center;
  width: 30%;
}

.footer {
  grid-area: footer;
}

.grid-container-cart {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% 5% auto 5% auto auto 20%;
  row-gap: 10px;
  grid-template-areas:
    "title"
    "subtitle-marzo"
    "imgmama"
    "subtitle-prox"
    "imgnmd"
    "imgbt"
    "footer";
}
