.main_title_cart {
  font-size: 20px;
  text-align: center;
  grid-area: title;
  align-self: center;
}

.main_subtitle_cart1 {
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: subtitle-marzo;
  align-self: center;
}
.main_subtitle_cart2 {
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: subtitle-prox;
  align-self: center;
}

.main_img_mama {
  grid-area: imgmama;
  justify-self: center;
  align-self: center;
}

.main_img_nmd {
  grid-area: imgnmd;
  justify-self: center;
  align-self: center;
}
.main_img_bt {
  grid-area: imgbt;
  justify-self: center;
  align-self: center;
}

.footer {
  grid-area: footer;
}

.grid-container-cart {
  display: grid;
  padding: 50px 60px 50px 60px;
  grid-template-columns: auto auto;
  grid-template-rows: 8% 8% auto 8% auto 13%;
  min-width: 100vh;
  row-gap: 10px;
  grid-template-areas:
    "title title"
    "subtitle-marzo subtitle-marzo"
    "imgmama imgmama"
    "subtitle-prox subtitle-prox"
    "imgnmd imgbt"
    "footer footer";
}
