.title-cont {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  animation: aparecer;
  animation-duration: 3s;
  animation-timing-function: infinite;
}
.flex-container-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  padding: 1rem;
}

.subtitle {
  font-size: 15px;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form legend {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.form label {
  font-size: 15px;
  margin-left: 10px;
  font-family: $tipografia-parrafo;
}

fieldset {
  input {
    font-family: $tipografia-parrafo;
    font-size: 13px;
  }
}

.form input {
  width: 90%;
  height: 20px;
  margin-left: 1rem;
  margin-bottom: 10px;
}

.form textarea {
  height: 60px;
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 10px;
}
