* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: letraproductora;
  src: url(../letraprodu.TTF);
}

body {
  background-color: black;
  font-family: letraproductora;
  color: white;
}
