.nav-link {
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-spacing: -7px;
}

.active {
  background-color: white;
  color: black;
}
