.nav {
  margin-top: 1rem;
}

.nav_list {
  list-style: none;
}

.nav_link {
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: flex;
  text-transform: uppercase;
}

.nav_link--active {
  background-color: white;
  color: black;
}
